package responses

templ ErrorResponse(message string) {
	<div class="text-red-700 bg-red-100 border border-red-200 rounded p-2">
		<strong>❌ Error</strong><br/>
		{ message }
	</div>
}

templ SuccessResponse(message string) {
	<div class="text-green-700 bg-green-100 border border-green-200 rounded p-2">
		<strong>✅ Success</strong><br/>
		{ message }
	</div>
}